@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

header {
    background-color: rgb(184, 184, 184);
    padding: 1rem 0 3rem 0;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(184, 184, 184);
}

h1,
h2,
p,
span {
    text-align: center;
    color: rgb(0, 0, 0);
}

span {
    font-weight: 900;
}

.Nproceso {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.formulario {
    color: rgb(216, 208, 208);
}

.formulario legend {
    font-size: 1.2rem;
    font-weight: 700;
}

.formulario label {
    margin-top: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.formulario input:not([type="submit"]) {
    padding: 0.5rem;
    display: block;
    width: 99%;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.boton {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 0.5rem;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: rgba(0, 0, 0, 0.87);
}

.contenedor {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.bcp {
    display: none;
}

.contenedor--grid {
    display: none;
    grid-row: 2 / 3;
    grid-column: 2/ 4;
}

.tabla {
    width: 95%;
    border-spacing: 0;
    margin: 0 auto;
    color: black;
}

.tabla thead {
    background-color: rgb(147, 232, 253);
}

.tabla td {
    margin-left: 1rem;
    text-align: center;
}

.ttotal {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.alerta {
    width: auto;
    background-color: rgb(139, 11, 11);
}
footer {
    padding: 1rem 0 3rem 0;
    background-color: rgb(184, 184, 184);
}

.EJECUCION {
    background-color: rgba(63, 174, 226, 0.501);
}
.NUEVO {
    background-color: rgba(230, 217, 49, 0.507);
}
.LISTO {
    background-color: rgba(24, 228, 24, 0.507);
}
.BLOQUEADO {
    background-color: rgba(255, 0, 0, 0.507);
}
.TERMINADO {
    background-color: rgba(255, 255, 255, 0.507);
}
